{
  "singleQuote": true,
  "arrowParens": "always",
  "trailingComma": "none",
  "jsxBracketSameLine": false,
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "endOfLine": "auto",
  "useTabs": false,
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "preserve",
  "vueIndentScriptAndStyle": true,
  "embeddedLanguageFormatting": "auto",
  "plugins": ["prettier-plugin-tailwindcss"]
}
